body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #ebe5e5;
}

#message {
    font-size: 20px;
    text-align: center;
    padding: 20px;
    border: 2px solid #333;
    background-color: #998686;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
}

img.portrait-image {
    width: 100%; /* Ensures the image fits the width of the mobile screen */
    height: auto; /* Maintains the aspect ratio */
    max-width: 1200px; /* Ensures the image doesn't exceed its original size */
}


canvas {
    display: none;
}
