#canvas-container {
    position: relative;
  }
  .navbar a:hover,
.navbar a.active {
    color: #00abf0;
    font-weight: bold;
}
  .navbar {
    margin-right: 2%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    z-index: 2;
  }
  .button1 {
    background-color: #89d8d3;
    background-image: linear-gradient(315deg, #89d8d3 0%, #03c8a8 74%);
    border: none;
    z-index: 1;
    position: relative; /* Required for the :after element */
    padding: 10px 20px; /* Adjust as necessary */
    color: #fff; /* Text color */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s ease;
  }
  
  .button1:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    border-radius: 5px;
    background-color: #4dccc6;
    background-image: linear-gradient(315deg, #4dccc6 0%, #96e4df 74%);
    box-shadow:
      -7px -7px 20px 0px #fff9,
      -4px -4px 5px 0px #fff9,
      7px 7px 20px 0px #0002,
      4px 4px 5px 0px #0001;
    transition: all 0.3s ease;
  }
  
  .button1:hover {
    color: #fff;
  }
  
  .button1:hover:after {
    top: 0;
    height: 100%;
  }
  
  .button1:active {
    top: 2px;
  }
  
  .navbar .logo {
    font-size: 28px;
    font-weight: 300;
    letter-spacing: 4px;
    text-transform: uppercase;
    z-index: 2;
  }
  .navbar ul {
    list-style-type: none;
    display: flex;
    gap: 24px;
  }
  .navbar ul li {
    font-weight: 300;
  }
  .navbar ul li .icon {
    line-height: 0.9;
    font-weight: 300;
  }
  .navbar ul li a {
    color: #ffffff;
    transition: color 0.3s ease-in-out;
    text-decoration: none;
  }
  #header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: rgb(53, 126, 211);
    text-shadow: 2px 2px 5px #91446e;
  }
html {
    scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  flex-direction: column;
  font-family: Arial, sans-serif; /* Set font family */
  background-color: #000000; /* Set background color */
}
.home-page {
  min-height: 50vh;
}
.login-page{
  min-height: 100vh;
}
.cursor-shadow {
  position: fixed;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  pointer-events: none;
  z-index: 9999;
  transform: translate(-50%, -50%);
  filter: blur(50px);
  background: rgba(255, 182, 193, 0.5); /* Initial light pink background */
  animation: colorChange 10s infinite linear;
}

/* Animation for fading color transitions */
@keyframes colorChange {
  0% {
    background: rgba(233, 37, 67, 0.5); /* Light pink */
  }
  25% {
    background: rgba(255, 255, 0, 0.5); /* Light yellow */
  }
  50% {
    background: rgba(0, 121, 161, 0.5); /* Light blue */
  }
  75% {
    background: rgba(126, 0, 42, 0.5); /* Light lavender */
  }
  100% {
    background: rgba(255, 28, 62, 0.5); /* Light pink */
  }
}

.BACK {
    background-color: aqua;
    filter: blur(15px);
    position: relative;
}
.BACK2 {
    background-color: rgb(170, 192, 207);
    filter: blur(15px);
    position: relative;
}
.nothing {
    justify-content: center;
    justify-items: auto;
    position: relative;
    background-color: #007df1;
    filter: blur(15px);
}
.buttons {
    color: white;
}

input,
  #submit {
    border: none;
    outline: none;
    display: block;
  }
  input {
    width: 100%;
    background-color: transparent;
    margin-bottom: 2em;
    font-size: 20px;
    padding: 1em 0 0.5em 0.5em;
    border-bottom: 2px solid #202020;
  }
  #submit {
    position: relative;
    left: 0;
    font-size: 1.1em;
    width: 7em;
    background: linear-gradient(45deg, #d6dbe0, #0b597e, #000203);
    background-size: 200% auto;
    color: white;
    padding: 0.8em 0;
    margin-top: 2em;
    border-radius: 0.3em;
    border: none;
    cursor: pointer;
    animation: gradientAnimation 6s ease infinite;
}

#submit:hover {
    transform: scale(1.1);
}
  #message-ref {
    font-size: 0.9em;
    margin-top: 1.5em;
    color: #34bd34;
    visibility: hidden;
  }
p {
  text-align: justify;
  color: rgb(141, 66, 16);
}
p1 {
  color: rgb(0, 48, 90);
}
p2 {
  color: #ffffff;
}
p3 {
  color: #ffffff;
}
p4 {
  color: #ffffff;
}
h1 {
  color: black;
  text-shadow: 2px 2px 5px #ec8525;
}
.shit {
  color: #ffffff;
  margin-top: 32%;
  margin-left: 63%;
}
.home-content {
    margin-top: 60px;
}
.home-content .btn-box {
    display: flex;
    justify-content: space-between;
    width: 300px;
    height: 25px;
    margin-bottom: 10px;
}
.btn-box a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: #00abf0;
    border: 2px solid #00abf0;
    border-radius: 8px;
    font-size: 15px;
    color: #081b29;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}
.btn-box a:hover {
    color: #00abf0;
}
.btn-box a:nth-child(2) {
    background: transparent;
    color: #00abf0;
}
.btn-box a:nth-child(2):hover {
    color: #081b29;
}
.btn-box a:nth-child(2)::before {
    background: #00abf0;
}
.btn-box a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: #081b29;
    z-index: -1;
    transition: .5s;
}
.btn-box a:hover::before {
    width: 100%;
}
.home-content .btn-box2 {
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
}
.btn-box2 a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: #ffffff;
    border: 2px solid #00abf0;
    border-radius: 8px;
    font-size: 19px;
    color: #081b29;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}
.btn-box2 a:hover {
    color: #00abf0;
}
.btn-box2 a:nth-child(2) {
    background: transparent;
    color: #00abf0;
}
.btn-box2 a:nth-child(2):hover {
    color: #081b29;
}
.btn-box2 a:nth-child(2)::before {
    background: #00abf0;
}
.btn-box2 a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: #081b29;
    z-index: -1;
    transition: .5s;
}
.btn-box2 a:hover::before {
    width: 100%;
}
.info {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #ffffff;
  position: absolute;
  text-align: center;
  margin-top: 12px;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap; /* Prevent text from breaking into multiple lines */
}

#dynamic-text {
  font-size: 4rem;
  font-weight: bold;
  margin-top: 70px;
  text-align: center;
  position: relative; /* Required for the text-shadow effect */
  animation: glowingShadow 3s infinite; /* Animation for the shadow effect */
}

/* Keyframes for the glowing shadow effect */
@keyframes glowingShadow {
  0% {
    text-shadow: 
      0 0 5px rgba(255, 255, 255, 0.5),
      0 0 10px rgba(255, 255, 255, 0.5),
      0 0 15px rgba(255, 255, 255, 0.5),
      0 0 20px rgba(255, 255, 255, 0.5);
  }
  25% {
    text-shadow: 
      0 0 10px rgba(255, 255, 255, 0.8),
      0 0 20px rgba(255, 255, 255, 0.8),
      0 0 30px rgba(255, 255, 255, 0.8),
      0 0 40px rgba(255, 255, 255, 0.8);
  }
  50% {
    text-shadow: 
      0 0 5px rgba(255, 255, 255, 0.5),
      0 0 10px rgba(255, 255, 255, 0.5),
      0 0 15px rgba(255, 255, 255, 0.5),
      0 0 20px rgba(255, 255, 255, 0.5);
  }
  75% {
    text-shadow: 
      0 0 10px rgba(255, 255, 255, 0.8),
      0 0 20px rgba(255, 255, 255, 0.8),
      0 0 30px rgba(255, 255, 255, 0.8),
      0 0 40px rgba(255, 255, 255, 0.8);
  }
  100% {
    text-shadow: 
      0 0 5px rgba(255, 255, 255, 0.5),
      0 0 10px rgba(255, 255, 255, 0.5),
      0 0 15px rgba(255, 255, 255, 0.5),
      0 0 20px rgba(255, 255, 255, 0.5);
  }
}

.letter {
  display: inline-block;
  opacity: 0;
  transform: translate3d(0px, 50px, 0px) rotate(-30deg) scale(0.5);
  animation: animateText 1s forwards, glowingShadow 3s infinite;
}

/* Keyframes for animating each letter sequentially */
@keyframes animateText {
  0% {
    opacity: 0;
    transform: translate3d(0px, 50px, 0px) rotate(-30deg) scale(0.5);
  }
  100% {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px) rotate(0deg) scale(1);
  }
}

/* Create delays for each letter to glow one by one */
.letter:nth-child(1) {
  animation-delay: 0s, 0s;
}

.letter:nth-child(2) {
  animation-delay: 0.5s, 0.5s;
}

.letter:nth-child(3) {
  animation-delay: 1s, 1s;
}

.letter:nth-child(4) {
  animation-delay: 1.5s, 1.5s;
}

.letter:nth-child(5) {
  animation-delay: 2s, 2s;
}

@media (max-width: 768px) {
  .info {
    margin-top: 20px; /* Adjust margin-top for tablets */
  }

  #dynamic-text {
    font-size: 3rem;
    margin-top: 90px; /* Increased margin-top for better positioning on tablets */
  }
}

@media (max-width: 480px) {
  #dynamic-text {
    font-size: 2.5rem; /* Adjust font size for small screens */
    margin-top: 120px; /* Further increased margin-top for very small screens */
  }

  .letter {
    font-size: 3rem; /* Ensure the letters fit on one line */
  }
}

.container {
  background-color: rgba(157, 198, 236, 0.2);
  padding: 1.4em 3.75em;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 62%;
  left: 50%;
  border-radius: 0.7em;
  animation: shadowAnimation 4s ease infinite alternate;
}
.home-sci {
  position: absolute;
  bottom: -730px;
  left: 50%;
  transform: translateX(-50%);
  width: 170px;
  display: flex;
  justify-content: space-between;
}
.home-sci a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #00abf0;
    border-radius: 40%;
    font-size: 20px;
    color: #00abf0;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}
.home-sci a:hover{
    color: #081b29;
}
.home-sci a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: #00abf0;
    z-index: -1;
    transition: .5s;
}
.home-sci a:hover::before {
    width: 100%;
}
@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  .navbar ul {
    margin: 0;
  }
  #header {
    text-align: center;
  }
}
@media screen and (max-width: 480px) {
  
}
@keyframes blink {
  0%, 50%, 100% {
      opacity: 1;
  }
  25%, 75% {
      opacity: 0;
  }
}
@keyframes gradientAnimation {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}
@keyframes shadowAnimation {
  0% {
      box-shadow: 0 1em 4em rgba(51, 121, 185, 0.2);
  }
  50% {
      box-shadow: 0 1em 4em rgba(26, 190, 149, 0.5);
  }
  100% {
      box-shadow: 0 1em 4em rgba(157, 198, 236, 0.2);
  }
}
  .home-sci2 {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 170px;
    display: flex;
    justify-content: space-between;
  }
  .home-sci2 a {
      position: relative;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      background: transparent;
      border: 2px solid #00abf0;
      border-radius: 40%;
      font-size: 20px;
      color: #00abf0;
      text-decoration: none;
      z-index: 1;
      overflow: hidden;
      transition: .5s;
  }
  .home-sci2 a:hover{
      color: #081b29;
  }
  .home-sci2 a::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 0%;
      height: 100%;
      background: #00abf0;
      z-index: -1;
      transition: .5s;
  }
  .home-sci2 a:hover::before {
      width: 100%;
  }

  .scroll-text-container {
    overflow-x: hidden; /* Prevent horizontal overflow */
  }
  
  .scroll-text {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 1s ease-out, transform 1s ease-out;
    margin-top: 100px;
  }

  /* Large text for the HACKING word */
  .scroll-text.large {
    font-size: 10vw; /* Responsive size based on viewport width */
    font-weight: bold;
    text-align: center;
    animation: hoverAnimation 2s ease-in-out infinite
  }
  @keyframes hoverAnimation {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px); /* Adjust the vertical movement */
    }
    100% {
        transform: translateY(0);
    }
}

  /* Smaller left-aligned text for the other paragraphs */
  .scroll-text.small {
    font-size: 1.3rem;
    margin-top: 50px;
    text-align: justify; /* Align the text to the left */
    line-height: 1.6; /* Increase line height for readability */
    max-width: 90%; /* Control line length */
    margin-left: auto; /* Center the paragraph */
    margin-right: auto; /* Center the paragraph */
  }

  .scroll-text.small2 {
    font-size: 1.5rem;
    margin-top: 50px;
    text-align: left; /* Align the text to the left */
    line-height: 1.6; /* Increase line height for readability */
    max-width: 90%; /* Control line length */
    margin-left: auto; /* Center the paragraph */
    margin-right: auto; /* Center the paragraph */
  }
  
  /* Show effect */
  .scroll-text.show {
    opacity: 1;
    transform: translateY(0);
  }
  
  /* No glow */
  .scroll-text.no-glow {
    text-shadow: none;
    background: none;
    color: white;
  }
