body {
    font-family: Arial, sans-serif;
    background-color: #007bff;
    color: white;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    background-color: #e28e1f;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 90%;
    max-width: 400px;
}

h1 {
    color: #ffff;
}

button {
    background-color: #000000;
    color: rgb(255, 255, 255);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border: none;
    border-radius: 7px;
    box-shadow: 0 2px 4px rgb(4, 49, 75);
}

@media only screen and (max-width: 600px) {
    .container {
        width: 100%;
        margin: 10px;
    }
}